div#issue-changesets {
  clear: right;
}

div#issue-merge-requests {
  float: right;
  width: 45%;
  margin: 1em 0 2em 1em;
  padding-left: 1em;
}

@media screen and (max-width: 899px) {
  div#issue-merge-requests {
    float: none;
    width: auto;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 2em;
  }
}

.merge-request {
  padding: 5px 0 5px 30px;
  border-top: solid 1px #ddd;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 2px 50%;
}

.merge-request-github {
  background-image: url("/plugin_assets/redmine_merge_request_links/images/github.svg");
}

.merge-request-gitlab {
  background-image: url("/plugin_assets/redmine_merge_request_links/images/gitlab.svg");
}

.merge-request-gitea {
  background-image: url("/plugin_assets/redmine_merge_request_links/images/gitea.svg");
}

.merge-request:last-child {
  border-bottom: solid 1px #ddd;
}

.merge-request-id {
  display: block;
  color: #444;
}

.merge-request a {
  display: block;
  font-weight: bold;
  margin: 4px 0;
}

.merge-request-state {
  display: inline-block;
  background-color: #5aa51d;
  color: #fff;
  font-weight: bold;
  padding: 2px 5px;
  border-radius: 2px;
  float: right;
}

.merge-request-state-closed {
  background-color: #cb2431;
}

.merge-request-state-merged {
  background-color: #007bff;
}

.merge-request-by-line {
  display: block;
  color: #888;
}

.merge-request-author {
  color: #444;
}

table.list td.merge_requests_list {
  text-align: left;
}

table.list td.merge_requests_list .merge-request-state {
  float: none;
}
